{% extends 'base.html' %}
{% block content %}
{% load static %}

<h1 class="text-center py-3 mx-auto">Keith L Baskerville Concha Labs Demo</h1>
<h2 class="text-left py-2 text-uppercase">User Accounts API</h2>
<ul >
    <li>Step 1: Click Home or User Accounts to Create Account</li>
    <li>Step 2: Add User Account to Postgres Database</li>
    <li>Step 3: View User Accounts</li>
    <li>Step 4: Search for User Accounts</li>
    <li>Step 5: Edit and Delete User Accounts</li>
</ul>

<br>
<h2 class="py-2 text-uppercase">Audio Data API</h2>
<ul class="justify-content-center">
    <li>Step 1: Click Audio Data to Insert</li>
    <li>Step 2: View Audio</li>
    <li>Step 3: Edit and Delete Audio Data</li>
</ul>

{% endblock %}