{% extends 'base.html' %}
{% block content %}
{% load static %}

{% if searched %}
 <h1>You Searched For {{ searched }} </h1>
 <br>

 {% for account in accounts %}

 <h1>Result: <a href="{% url 'show' %}">{{ account }} - User Id: {{account.id}}</a> </h1>
 <br>
<ul>
    <li>UserAccountId: {{account.userId}}</li>
    <li>Address: {{account.address}}</li>
    <li>Email: {{account.email}}</li>
</ul>
 <br>


 {% endfor %}

 {% else %}
 <h1>Hey You forgot to Seacrh for UserAccount</h1>
{% endif %}



{% endblock %}